.flag-icon {
    vertical-align: baseline;
    display: inline-block;
    line-height: 15px;
    width: 20px;
    height: 15px;
    margin: 0 5px 0 0;
    border-radius: 2px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    position: relative;
}

.flag-icon-by {
    background-image: url(/posters/lang_image/by_flag.svg);
}

.flag-icon-ru {
    background-image: url(/posters/lang_image/ru_flag.svg);
}

.flag-icon-gb {
    background-image: url(/posters/lang_image/gb_flag.svg);
}


